body {
  font-family: 'Open Sans', sans-serif;
  color: #262626;
}

.intro {
  background-image: url("desert-night.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

hr {
  border: 1px solid #4fc1b1;
}

.title {
  font-size:calc(22px + 5vw);
  font-weight: 800;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: #4fc1b1;
}

input[type=text]:focus {
  border: 1px solid #4fc1b1;
}

.cutebtn {
  border: 2px solid #4fc1b1;
  border-radius: 5px;
}

.cutebtn:hover {
  color: white;
  background-color: #4fc1b1;
}

.card {
  background-color: #4fc1b1;
  background-image: url("diagmonds.png");
  outline: 2px solid white;
  outline-offset: -15px; 
  color: white;
}

.stitle {
  font-size:calc(12px + 3vw);
  font-weight: 800;
}
